<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/contactabout.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <title>Contact</title>
</head>

<body>

    <!-- contact -->

    <div class="container" id="tocontact">
        <div class="heading">
            <h1>ContactUs</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">IIIT Sri City,Academic Block</div>
                    <div class="text-two">Chittoor</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 0034 8734</div>
                    <div class="text-two">+91 0983 9734</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">graduatesworld@gmail.com</div>
                    <div class="text-two">graduatesworldexpert@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <pre><p>Here you can send any type of genuine queries regarading our website</p>
                </pre>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your message">
                    </div>
                    <div class="input-box message-box">

                    </div>
                    <div class="button">
                        <input type="button" value="Send">
                        <a href="#toabout"> <input type="button" value="About">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- about -->

    <div class="about" id="toabout">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Graduates World:

                Graduates World is an Indian employement website which acts as an Interface between graduates and top
                most MNC Companies.

                This is the first Employement Website which offers three layer Skill based test to graduates who are
                willing to find jobs in top most MNC Companies. These Skill-based tests are taken by experts who are
                hired by us by observing their experience and by testing their skills in their field of work.

                The First layer of test will be some type Quiz in online mode
                The Second Layer of test will be video-conferencing in online mode
                The Third Layer of test will be Interview in Offline mode

                A user or graduate should attempt this three layer tests to secure a job in top Most MNC Companies. A
                Expert will give a rating of a user by observing his performance in three layer test.

                Companies will hire graduates by observing their rating given by Experts.
                This will help graduates to be employed in a good MNC Company
            </p>
            <div class="skills">
                <a href="#tocontact"><button>Contact Us</button></a>
            </div>
        </div>
    </div>
</body>

</html>