<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cscience.css">

</head>

<body>

    <div class="wholebox">
        <div class="sidebox">
            <form action="">
                <b><input type="text" class="inputsearch" placeholder="search"></b>
                <button class="sidesearch">search</button>
            </form>
            <nav class="sidebar">
                <hr class="menuline">
                <div class="sidetext">Menu</div>
                <hr class="downline">

                <ul>
                    <li class="sideitem"> <a href="" class="slinks">Companies</a></li>
                    <li class="sideitem"><a href="" class="slinks">expereince</a></li>
                    <li class="sideitem"><a href="" class="slinks">ratings</a></li>
                </ul>

            </nav>
        </div>
        <div class="mainbox">
            <a href="/jobdesc1" style="text-decoration:   none;" target="_blank">
                <div class="box">
                    <header>
                        <h1 class="jobtitle" title="Computer Science Faculty ">Computer Science Faculty For B.tech (AI,ML)</h1>
                    </header>
                    <div class="left">
                        <div class="exp"><span class="edd">💼 0 - 5 years</span>
                        </div>
                        <div class="salary"><span class="sal">💳 ₹ 8-9.5 Lacs P.A. </span>
                        </div>
                        <div class="salary"><span class="locc">Chennai</span>
                        </div>

                        <div class="more">
                            <a href="/jobdesc1" target="_blank"><span class="vmore" >View More</span><a>
                        </div>

                    </div>
                </div>
            </a>
            <a href="/jobdesc2" style="text-decoration: none;" target="_blank">
                <div class="box">
                    <header>
                        <h1 class="jobtitle" title="Computer Science Faculty ">Computer Science Faculty For B.tech ( IoT)</h1>
                    </header>
                    <div class="left">
                        <div class="exp"><span class="edd">💼 0 - 4 years</span>
                        </div>
                        <div class="salary"><span class="sal">💳 ₹ 7-8.5 Lacs P.A. </span>
                        </div>
                        <div class="salary"><span class="locc">Bangalore</span>
                        </div>
                        <div class="more">
                            <a href="/jobdesc2" target="_blank"><span class="vmore">View More</span><a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/jobdesc3" style="text-decoration: none;" target="_blank">
                <div class="box">
                    <header>
                        <h1 class="jobtitle" title="Computer Science Faculty ">Computer Science Faculty For B.tech ( Data Science)</h1>
                    </header>
                    <div class="left">
                        <div class="exp"><span class="edd">💼 0 - 4 years</span>
                        </div>
                        <div class="salary"><span class="sal">💳 ₹ 7-8.5 Lacs P.A. </span>
                        </div>
                        <div class="salary"><span class="locc">Hyderabad </span>
                        </div>
                        <div class="more">
                            <a href="/jobdesc2" target="_blank"><span class="vmore">View More</span><a>
                        </div>
                    </div>
                </div>
            </a>


            <a href="/jobdesc2" style="text-decoration: none;" target="_blank">
                <div class="box">
                    <header>
                        <h1 class="jobtitle" title="Computer Science Faculty ">Computer Science Faculty For B.tech (IoT)</h1>
                    </header>
                    <div class="left">
                        <div class="exp"><span class="edd">💼 0 - 5 years</span>
                        </div>
                        <div class="salary"><span class="sal">💳 ₹ 7-8.5 Lacs P.A. </span>
                        </div>
                        <div class="salary"><span class="locc">Bangalore</span>
                        </div>
                        <div class="more">
                            <a href="/jobdesc2" target="_blank"><span class="vmore">View More</span><a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/jobdesc1" style="text-decoration: none;" target="_blank">
                <div class="box">
                    <header>
                        <h1 class="jobtitle" title="Computer Science Faculty ">Computer Science Faculty For B.tech (AI,ML) </h1>
                    </header>
                    <div class="left">
                        <div class="exp"><span class="edd">💼 0 - 5 years</span>
                        </div>
                        <div class="salary"><span class="sal">💳 ₹ 8-9.5 Lacs P.A. </span>
                        </div>
                        <div class="salary"><span class="locc">Chennai </span>
                        </div>
                        <div class="more">
                            <a href="/jobdesc1" target="_blank"><span class="vmore">View More</span><a>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>


</body>

</html>