<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div>
        <h1>Forgot Password</h1>
    </div>
    <div class="container">
        <form id="form" class="form" method="post" action="/forgotPassword">
            <!-- <h1>Sign Up</h1> -->
         
            <div class="form-field">
                <label for="password">Enter Password:</label>
                <input type="password" name="password" id="password" autocomplete="off">

                <small></small>
            </div>


            <div class="form-field">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" autocomplete="off">
                <small></small>
            </div>
            
            <button type="submit" value="submit" name="submit" style="background-color: #51a8ab;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;">Submit</button>

        </form>
    </div>


<!--<script src="/js/register.js"></script>-->
</body>


</body>

</html>