<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ibm</title>
    <link rel="stylesheet" href="/css/ibm.css">
</head>

<body>
    <div class="header">
        <h1>IBM</h1>
    </div>
    <section class="container">
        
        <div class="card">
            <div class="card-img photo-1"></div>
            <h2>About IBM:</h2>
            <p>IBM is one of the leading tech companies that develops market software and hardware that deliver
                new opportunities,greater convenience and enhanced value to people's lives.

                IBM is the industry leader in desktop operating systems, with a 75% market.</p>
                <a href="">Explore</a>
        </div>
        <div class="card">
            <div class="card-img photo-2"></div>
            <h2>Collaboration with us:</h2>
            <p>Its been a five years of healthy relationship between us and Ibm Team. We are glad that we are able
                to deilver quality and skillful graduates to the Company when they are in need of a graduate in a
                particular field.</p>
                <a href="">Explore</a>

        </div>
        <div class="card">
            <div class="card-img photo-3"></div>
            <h2>IBM's Review on us:</h2>
            <p>We are very glad to say that "Graduates-World" organizations, have provided us a very skillful graduates.
                They have decreased our work in hiring by giving ratings to graduates according to their performance in
                three layer test, which is very genuine.</p>
                <a href="">Explore</a>
        </div>
    </section>
</body>

</html>