<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--<meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://121.0.0:3000/">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-Page</title>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="login-box">
    <p>User Login</p>
    <form method="POST" id="form" action="/login"> 
      <span id="errorMessage" style="color:red;"></span>
      <div class="user-box">
        <input name="email" type="email" id="email" required autocomplete="off">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input name="password" type="password" id="password" required autocomplete="off">
        <label>Password</label>
      </div>      
      <button type="submit" style="background-color: #51a8ab;
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;">Login</button>
    </form>
    <br>
    <p>Forgotpassword?<a href="/verify" class="forgot">click</a></p>
    <p>Don't have an account? <a href="/register" class="a2">Sign up!</a></p>
  </div>

   <script >

   // login.js
document.addEventListener("DOMContentLoaded", function() {
    const loginForm = document.getElementById("form");
    const errorMessage = document.getElementById("errorMessage");

    loginForm.addEventListener("submit", function(event) {
        event.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        console.log(email,password);

        // Send a POST request to the server
        fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email: email,
                password: password,
            }),
        })
        .then((response) => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Invalid login credentials");
            }
        })
        .then((data) => {
            if (data.message === "success") {
              window.location.href = "/userdashboard"; // Redirect to a dashboard or another page
            } else {
                errorMessage.textContent = "Invalid login credentials.";
            }
        })
        .catch((error) => {
    if (error instanceof TypeError) {
        errorMessage.textContent = "Network error occurred. Please try again.";
      } else {
          errorMessage.textContent = "An error occurred: " + error.message;
      }
});
    });
});


  </script> 
  
</body>

</html>