<html lang="en">

<head>
    <title>User Personal information</title>
    <link rel="stylesheet" href="/css/personalinfo.css">
</head>

<body>

    <h1 id="hpp">Find a Job and grow your career! Register rightnow!!</h1>

    <form class="form" method="post" action="/personalinfo">

        <div class="form-field">
            <label for="name" class="lb">Username:</label>
            <input type="text" name="name" id="name" class="infos" autocomplete="off">
        </div>

        <div class="form-field">
            <label for="email" class="lb">E-mail:</label>
            <input name="email" id="email" type="email" class="infos" required>
        </div>

        <div class="form-field">
            <label class="lb" for="nome">Password:</label>
            <input name="password" id="password" type="password" class="infos" required> 
        </div>

        <div class="form-field">
            <label class="lb" for="nome">City:</label>
            <input name="city" id="city" type="text" class="infos" required>
        </div>

        <div class="form-field"></div>
            <label class="lb" for="nome">Interests:</label>
            <input name="Interests" id="Interests" type="text" class="infos" required> 
        </div>
        <div class="form-field"></div>
            <label class="lb" for="nome">Experience:</label>
            <input name="Experience" id="Experience" type="text" class="infos" required>
        </div>

        <div class="form-field"></div>
            <label class="lb" for="nome">Study info:</label>
            <input name="Study" id="Study" type="text" class="infos" required>
        </div>

        <div class="form-field"></div>
            <label class="lb" for="nome">Contact Number:</label>
            <input name="contact" id="contact" type="text" class="infos" required>
        </div>
        <!-- <div class="form-field"></div>
            <label class="lb" for="nome">Upload your Resume:</label>
            <input name="resume" id="resum" type="file" class="infos" required>
        </div> -->
        <br><br><br>

        <!-- <button id="send" type="Send">Send</button>
        <button id="limpar" type="reset">Clear </button> -->

        <!-- <a href="login.html"><button class="my-button">Send</button></a>
        <a href=""><button class="my-button">Clear</button></a> -->
        <div class="ush-btn">
            <a href="/thanksUser"><button class="my-button" type="submit" name="submit" value="submit">Send</button></a>
            <a href=""><button class="my-button" type="reset">Clear</button></a>
        </div>
    
    </form>
    
    <div class="container">
        <div class="box">
            <span class="title">On Registering You Can </span>
            <div>
                <strong>>> Get a job and grow your career</strong>
                <strong>>> Get job postings delivered right to your email</strong>
            </div>
        </div>
    </div>
</body>

</html>