<html lang="en">
<head>
    <title>SEEK WORK ACCOUNT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/seekwork account.css">
</head>
<body>

    <div class="dropdown">
        <a href="/login" class="dropbtn"> Sign-out </a>
    </div>
        <!-- nav bar -->
    <div class="container">
        <div class="menu">
            
            <!-- <ul class="main-menu">
                <li class="active"><i class="fa fa-home"></i>Home</li>
                <li class="with-submenu">
                    <i class="fa fa-briefcase"></i># <i class="fa fa-caret-down"></i>
                    <ul class="submenu">
                        <li>React</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>Animation</li>
                    </ul>
                </li>
                <li><i class="fa fa-user"></i>#</li>
                <li><i class="fa fa-search"></i>#</li>
            </ul>  -->
        </div>
    </div>


<!-- button -->
    
    <button>
        <a>APPLIED JOBS
        <div id="clip">
            <div id="leftTop" class="corner"></div>
            <div id="rightBottom" class="corner"></div>
            <div id="rightTop" class="corner"></div>
            <div id="leftBottom" class="corner"></div>
        </div>
        <span id="rightArrow" class="arrow"></span>
        <span id="leftArrow" class="arrow"></span>
    </button><br><br>

<!-- SLIDE BAR -->
    <script src="https://kit.fontawesome.com/9a416a1cca.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="checkbox" name="" id="side-menu-switch">
<div class="side-menu">
    <form action="">
        <b><input type="text" placeholder="FILTER COMPANIES BY"></b>
        <button>
                <i class="fas fa-search"></i>
        </button>
    </form>
    <nav class="side-nav">
        <a href="/personalinfo"><i class="fas fa-gavel"></i>UserInfo</a>
        <a href="/userquiz"><i class="fas fa-gavel"></i>Active Test</a>
        <a href="#"><i class="fas fa-gavel"></i>Companies</a>
        <a href="#"><i class="fas fa-gavel"></i>Experience</a>
        <a href="#"><i class="fas fa-gavel"></i>Ratings</a>
        <a href="#"><i class="fas fa-gavel"></i>experts</a>
        <a href="#"><i class="fas fa-gavel"></i>Role</a>
        <!-- <a href="#"><i class="fas fa-gavel"></i>Skills</a> -->
        
    </nav>
    <label for="side-menu-switch">
        <i class="fas fa-angle-left"></i>
    </label>
</div>
</body>

        <!-- cards -->
<div class="containerr">
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>
</div>

<div class="c2">
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>
</div>

<div class="c3">
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="box">
        <span class="title">Company 1 </span>
        <strong style="padding: 2;">JOE WATSON SBF</strong>
    </div>
</div>


<!-- 
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">FLIP CARD</p>
        </div>
        <div class="flip-card-back">
            <p class="title">BACK</p>
        </div>
    </div>
</div> -->



</body>
</html>