<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="pictures/[removal.ai]_tmp-6413f9f76b9b7.png">
    <title>ThankUser</title>
    <style>
        * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    background-color: aqua;
}

.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.content {
    width: 90%;
    height: 30%;
    margin-top: 4%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn-home .my-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}
    </style>
</head>

<body>
    <a href="/home"><img src="/js/images/logo2.png" class="logo"></a>

    <div class="container">
        <h1>
        </h1>
        <div class="content">
            <div class="l1">Thanks for signing up with us.</div>
            <div class="l2">You have made a right choice towards your career.</div>
            <div class="l3"> Click here to login.</div>
        </div>
        <div class="btn-home">
            <a href="/login"> <button class="my-button">Login</button>
            </a>
        </div>
    </div>
</body>

</html>