<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/jobdesc1.css">

  <title>Document</title>
</head>



  
    <body>
        <div class="job">
            <header>
              <h1 class="jobtitle" title="Computer Science Faculty ">Electrical Science Faculty For B.tech (Integrated Circuits)
                </h1>
            </header>
            <div class="left">
              <div class="exp"><span class="edd">💼 0 - 4 years</span> </div>
              <div class="salary"><span class="sal">💳 ₹ 7-8.5 Lacs P.A. </span></div>
              <div class="salary"><span class="locc">Hyderabad </span></div>
            </div>
          </div>
          <div job-de>
        
            <div>
              <a href="/register"><button class="regbtn"> Register To Apply</button></a>
        
            </div>
        
            <div class="job-desc">
              <h3 class="jobh" style="background-color: rgb(8, 72, 125); color: aliceblue ;padding: 15px; ;">JOB DESCRIPTION:
              </h3>
              <p class="jobtype"><strong style="color: rgb(8, 84, 96); font-size: large; padding-left: 5px;">Job Type</strong>
              </p>
              <li class="typeu">Full-Time</li>
              <li class="typeu"> Fresher </li>
              <li class="typeu"> Permanent</li>
        
        
              <p class="fulldesc"><strong style="color: rgb(8, 84, 96); font-size: large; padding-left: 590px;"> Full Job
                  Description</strong></p>
              <div class="mainflex">
                <div class="flex1">
                  <br><span class="skil">Requirement Of Computer Science Faculty </span><br>
                  <li class="jobitem">No Work Pressure, No Targets.</li>
                  <li class="jobitem">Day shift only.</li>
                  <li class="jobitem">Admission and Administration Work.</li>
                  <br> <span class="skil">Skills:</span> <br>
                  <li class="jobitem"><span></span>Candidate should be Energetic, Dedicated , Self Motivated. </span></li>
                  <li class="jobitem">Must possess excellent communication skills.</li>
                  <br>
                  <span class="skil">Work Timings:</span>
                  <br>
                  <li class="jobitem">9:00 am to 6:00 pm, Full Time Job</li>
                  <br>
        
                  <br>
                  <br>
                </div>
        
        
                <div class="flex2">
                  <br><span class="skil">Salary: </span><br>
                  <li class="jobitem">Up to ₹65,000.00 per month</li>
        
                  <br> <span class="skil">Work locations : </span> <br>
                  <li class="jobitem"><span></span>
                    DILSUKHNAGAR, BANAJARA HILLS, MANIKONDA,HUSSAINSAGAR </span></li>
        
                  <br>
                  <span class="skil">Supplemental Pay Types:</span>
                  <br>
                  <li class="jobitem"> Commission pay</li>
                  <li class="jobitem">Performance bonus</li>
                  <br>
                </div>
              </div>
              <h2
                style="color: rgb(8, 84, 96); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-left: 580px;">
                <span> Let Employers Find You</span>
              </h2>
              <button class="regbtn"> UPLOAD YOUR RESUME</button>
            </div>
        
        
        
        
          </div>
    </body>
    </html>