<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
      .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 40px;
        background-color: rgb(75,232,219);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        text-align: center;
      }
      h1 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      button {
        background-color: #51a8ab;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }
      button:hover {
        background-color: #51a8ab;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Thanks for filling the form</h1>
      <p>Click below to take a test</p>
      <a href="/expert-test"><button>Continue</button></a>
    </div>
  </body>
</html>
