<!DOCTYPE html>
<html>
<head>
	<title>Multiple Choice Quiz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/expertest.css">
</head>
<body>
	<div class="head"><h1 class="text-center">Expert Quiz</h1></div>

	<div class="container">
		<form id="quiz-form">
			<div class="form-group">
				<h4>Question 1:  What is an operating system?</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A. interface between the hardware and application programs</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. collection of programs that manages hardware resources</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. system service provider to the application programs</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 2: In Operating Systems, which of the following is/are CPU scheduling algorithms?</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q2" id="q2a1" value="a1" required>
					<label class="form-check-label" for="q2a1">A. Priority</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q2" id="q2a2" value="a2">
					<label class="form-check-label" for="q2a2">B. Round Robin</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q2" id="q2a2" value="a2">
					<label class="form-check-label" for="q2a2">C. Shortest Job First</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 3: To access the services of the operating system, the interface is provided by the ___________</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A.  Library</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. System call</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. API</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 4: Which one of the following errors will be handle by the operating system?</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A. lack of paper in printe</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. connection failure in the network</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. Power failure</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 5: Where is the operating system placed in the memory?</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A. either low or high memory</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. in the low memory</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. in the high memory</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 6:  Which one of the following is not a real time operating system?</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A. RTLinux</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. Palm OS</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. QNX</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 7: Transient operating system code is a code that ____________</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A. stays in the memory always</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. never enters the memory space</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. comes and goes as needed</label>
				</div>
			</div>
			<div class="form-group">
				<h4>Question 8: Which one of the following errors will be handle by the operating system?</h4>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a1" value="a1" required>
					<label class="form-check-label" for="q1a1">A. lack of paper in printe</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">B. connection failure in the network</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="q1" id="q1a2" value="a2">
					<label class="form-check-label" for="q1a2">C. Power failure</label>
				</div>
			</div>
			
		</form>
	</div>
	<div class="btn">
		<a href="/thanksexpertquiz"><button class="small-btn">Click me</button></a>
	</div>
</body>
</html>