<html lang="en">
<head>
    <title>Applied Jobs</title>
    <link rel="stylesheet" href="/css/jobs applied.css">
</head>
<body>
    
<h1>Here are the jobs that you have applied for!</h1>

    <h3>Wanna know more details? click here to know more and give the test </h3>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p class="title">COMPANY X</p>
                <p>Hover Me</p>
            </div>
            <div class="flip-card-back">
                <p class="title">Deatil 1</p>
                <p>Deatil 2</p>
            </div>
        </div>
    </div>


</body>
</html>