body {
    font-family: Arial, sans-serif;
    background-color: #4c4c4c;
  }
  
  .container {
    margin-top: 50px;
    background-color: rgb(212, 240, 240);
  }
  .head{
    margin-top: 2%;
  }
  .head h1{
    color: aliceblue;
  }
  
  h1 {
    color: #4c4c4c;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  h4 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .form-check-label {
    font-weight: normal;
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .small-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    
    }